* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    --bg-color: rgb(140, 177, 185);
    --second-bg-color: rgb(197, 215, 98);
    --text-color: #193940;
    --main-color: #fff;
}
html {
    font-size: 100%;
    overflow-x: hidden;
}
body {
    font-family: "Lucia Grande", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color)
}
header {
    background-color: var(--text-color);
    color: var(--second-bg-color);
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
}
nav {
    text-align: center;
    margin: 6rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
nav a {
    margin: 0 1rem;
    padding: 2.6rem;
    text-decoration: none;
    color:var(--second-bg-color);
    background-color: var(--text-color);
    border-radius: 1rem;
    font-size: 3rem;
    border: 0.2rem solid var(--text-color);
    letter-spacing: 0.1rem;
    transition: 0.3s ease-in-out;
}
nav a:hover {
    transform: scale(1)translateY(-0.2rem);
    background-color: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 0.2rem var(--main-color);
}
section {
    display: none;
    margin: 6rem;
    padding: 3rem;
    background-color:var(--main-color);
    border-radius: 2rem;
    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    gap: 1.5rem;
}
section.active {
    display: block;
}
h2{
    font-size: 2.5rem;
    padding: 2rem;
}
p{
    font-size: 2rem;
}
footer {
    text-align: center;
    padding: 3rem;
    background-color:var(--second-bg-color);
    color: var(--text-color);
    margin-top: 2rem;
}
.button-link {
    display: inline-flex;
    padding: 1rem 2rem;
    background-color: var(--bg-color);
    color:var(--text-color);
    text-decoration: none;
    border-radius: 1rem;
    margin: 1.5rem 0;
    font-size: 1.8rem;
    transition: 0.3s ease-in-out;
}
.button-link:hover {
    transform: scale(1)translateY(-0.5rem);
    background-color: var(--text-color);
    color: var(--main-color);
    box-shadow: 0 0 2rem var(--second-bg-color);
}
#splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--text-color);
    color: white;
    font-size: 3.6rem;
    z-index: 1000;
  }
  #main-content {
    display: none;
    padding: 2rem;
  }

